@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

:root {
    --crl-red: #e6563b;
    --crl-orange: #eb9d3a;
    --crl-green: #7cb06c;
    --crl-blue: #00aba9;
    --crl-light-gray: #f0f0f0;
    --crl-gray: #e6e6e6;


    --sec-font: 'Abel', sans-serif;
    --pri-font: 'Anton', sans-serif;
}

body {
    font-family:var(--pri-font);
}

nav, .sec-font {
    font-family: var(--sec-font);
}
.page-wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--crl-light-gray);
}

.header-circle {
    min-height: 100px;
    min-width: 100px;
}
.icon-circle {
     min-width: 20px;

 }

.red-circle {
background-color: var(--crl-red);
}

.orange-circle {
background-color: var(--crl-orange);
}

.green-circle {
background-color: var(--crl-green);
}

.blue-circle {
background-color: var(--crl-blue);
}
.last-img {
    max-width: 20%;
    aspect-ratio: 1/1;
    border: 4px solid;
    border-color: var(--crl-gray)
}
.main-img {
    aspect-ratio: 6/4;
    border: 6px solid;
    border-color: var(--crl-gray);
}

.hamburger {
    display: none;
}


@media screen and (max-width: 800px) {
    .hamburger {
        display: flex;
    }
    .primary-navbar {
        display: none;
    }
    
}



